include CHANGELOG.md CONTRIBUTING.md
recursive-include examples *.py *.txt
recursive-include benchmarks *.py *.txt
recursive-include tests *.py
recursive-include docs *.md *.rst *.py *.txt
recursive-include research *.md *.json *.py
prune docs/auto_examples
prune docs/_build
exclude docs/sg_execution_times.rst
